<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Diplomacy</title>
    <link rel="stylesheet" href="http://bootswatch.com/sandstone/bootstrap.min.css"/>
    <link href='http://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <style>
        /* Font */
        * { font-family: 'Tinos', serif !important; }
        .main {
            max-width: 60%;
            margin-top: 2em;
            margin-bottom: 2em;
        }

        .journal, .statusbar {
            max-width: 50%;
        }
    </style>
</head>
<body>

    <div class="container main">
        <div class="page-header header">
            <div class="media">
              <a class="pull-left" href="#">
                <!--img class="media-object" src="http://i.imgur.com/7K49PZn.jpg" height="100px"-->
              </a>
              <div class="media-body">
                <h1 class="media-heading">Diplomacy</h1>
                <h4>A Graham house game of strategy, wits, and bitching</h4>
              </div>
            </div>
        </div>
        <div class="container navigation">
            <ul class="nav nav-pills">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#">Players</a></li>
              <li><a href="#">Rules</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="page-header journal">
                <h2>Outbreak!</h2>
                <strong>Date: March 3, 1942</strong>
                <hr/>
                <p>
                    It was a dark and stormy night.  Some natives were gathered around the campfire.  The venerated
                    Chief kicked dirt into the blaze as he wearily rose to his feet.  He said...
                </p>
            </div>
        </div>
        <div class="container statusbar pull-left">
            <div class="page-header">
                <h2>Round Information</h2>
            </div>
            <div class="progress">
                <div class="progress-bar" style="width: 30%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>