<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% block meta_title %}<title>Diplomacy | Home</title>{% endblock%}
  <link rel="stylesheet" href="http://bootswatch.com/sandstone/bootstrap.min.css"/>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
  <meta name="viewport" content="width=device-width" />
    <style>
    .main { max-width: 800px; margin-bottom: 2em; }
    .alert-link { color: black !important; }
    .site-header { white-space: nowrap; }
    td a:link, td a:visited, p a:link, p a:visited { color: #4099FF !important;}
    figcaption h1 { color: black; }
  </style>
</head>
<body>
  <div class="container-fluid main">
    
    <!-- Site Header -->
    <div class="page-header site-header">
      <h1>Diplomacy</h1>
      <h1 class="lead">A game of strategy</h1>
    </div>

    <!-- Navbar -->
    <ul class="nav nav-pills">
      <li id="homeButton"><a href="/">Home</a></li>
      <li id="archivesButton"><a href="/archives">Archives</a></li>
      <li id="playersButton"><a href="/players">Players</a></li>
      <li id="rulesButton"><a href="/rules">Rules</a></li>
    </ul>
    <hr>

    {% block main %}
    {% endblock %}

  </div>
</body>
<footer>
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script>
    // Highlight nav button
    // -- I don't know if I'm proud of this or not
    $('.nav-pills').find('li').removeClass('active');
    var thisPage = $('title').text().split(' | ')[1].toLowerCase();
    $('#' + thisPage + 'Button').addClass('active');
  </script>
  {% block script %}
  {% endblock %}
</footer>
</html>