<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Diplomacy</title>
	<link rel="stylesheet" href="http://bootswatch.com/sandstone/bootstrap.min.css"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"/>
    <meta name="viewport" content="width=device-width" />
    <style>
		.main {
			max-width: 800px;
		}

		.alert-link {
            color: black !important;
        }

        .site-header {
        	white-space: nowrap;
        }

        figcaption h1, figcaption h2 {
        	color: black;
        }
    </style>
</head>
<body>
	<div class="container-fluid main">

		<!-- Site Header -->
		<div class="page-header site-header">
			<h1>Diplomacy</h1>
			<h1 class="lead">A game of strategy</h1>
		</div>

		<!-- Navbar -->
		<ul class="nav nav-pills">
			<li class="active" id="homeButton"><a href="/">Home</a></li>
			<li id="archivesButton"><a href="/archives">Archives</a></li>
			<li id="playersButton"><a href="/">Players</a></li>
			<li id="rulesButton"><a href="/rules">Rules</a></li>
        </ul>
        <hr>
		<div class="row">
		  <div class="col-xs-6 col-md-3">
		      <img class="img-thumbnail map" src="http://media.alexrecker.com/images/map.gif" data-title="Fall, 1901" data-caption="Before">
		      <div class="caption text-center">
		      	<br>
		      	<strong>Before</strong>
		      </div>
		  </div>
		  <div class="col-xs-6 col-md-3">
		      <img class="img-thumbnail map" src="http://media.alexrecker.com/images/map.gif" data-title="Fall, 1901" data-caption="Action">
		      <div class="caption text-center">
		      	<br>
		      	<strong>Action</strong>
		      </div>
		  </div>
		  <div class="col-xs-6 col-md-3">
		      <img class="img-thumbnail map" src="http://media.alexrecker.com/images/map.gif" data-title="Fall, 1901" data-caption="Present">
		      <div class="caption text-center">
		      	<br>
		      	<strong>Present</strong>
		      </div>
		  </div>
		</div>

		<hr>

        <!-- Progress bar-->
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
		    <span class="sr-only">60% Complete</span>
		  </div>
		</div>
        <div class="alert" role="alert">
            <p><i class="icon-info-sign"></i> Waiting for <a href="#" class="alert-link" data-toggle="modal" data-target="#playersWaiting">2 players</a> to move</em></p>
        </div>

        <!-- Hidden modal -->
		<div class="modal fade" id="playersWaiting" tabindex="-1" role="dialog" aria-labelledby="playersWaiting" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title" id="playersWaiting">Waiting for Players</h4>
					</div>
					<div class="modal-body">
						<div class="row">
						  <div class="col-xs-6"><div class="media">
							<img class="media-object pull-left" src="http://img3.wikia.nocookie.net/__cb20090208133910/witcher/images/2/22/Flag_Japan.jpg" alt="..." height="50">
							<div class="media-body">
								<h4 class="media-heading">Chi Won</h4>
								<p>South Korea</p>
							</div>
						</div></div>

						  <div class="col-xs-6"><div class="media">
							<img class="media-object pull-left" src="http://mapleterrace.com/wp-content/uploads/flags/german-flag.thumbnail.jpg" height="50" alt="...">
							<div class="media-body">
								<h4 class="media-heading">Jordan Snyder</h4>
								<p>Germany</p>
							</div>
						</div></div>
						</div>
					</div>
				</div>
			</div> <!-- end modal body -->
		</div> <!-- end container -->

		<div class="page-header">
			<h1 class="lead">Outbreak!</h1>
			<strong>Fall, 1942</strong>
		</div>

		<p>
								In 1884,  meridian time personnel met
					 in Washington to change Earth time.
					First words said was that only 1 day
					could be used on Earth to not change
					 the 1 day bible. So they applied the 1
					day  and  ignored  the  other  3 days.
					The bible time was wrong then and it
					 proved wrong today. This a major lie
					  has so much evil feed from it's wrong.
					No man on Earth has no belly-button,
					  it proves every believer on Earth a liar.
					 
<blockquote>Children will be blessed for
Killing Of Educated Adults
Who Ignore 4 Simultaneous
Days Same Earth Rotation.
</blockquote>


					Practicing  Evil  ONEness -
					Upon Earth Of  Quadrants.
					 Evil Adult Crime VS Youth.
					  Supports Lie Of Integration.
					  1 Educated Are Most Dumb.
					  Not 1 Human Except Dead 1.
					  Man Is Paired,  2 Half 4 Self.
					  1 of God Is Only 1/4 Of God.                         
					   Bible A Lie & Word Is Lies.
					   Navel Connects 4 Corner 4s.
					  God Is Born Of A Mother –
					   She Left Belly B. Signature.
					Every Priest Has Ma Sign
					  But Lies To Honor Queers.
					Belly B. Proves 4 Corners.
					 
					Your dirty lying teachers
					use only the midnight to
					midnight 1 day (ignoring
					3 other days) Time to not
					foul (already wrong) bible
					   time. Lie that corrupts earth
					you educated stupid fools.
					 
					GoBelly-Button  Logic Works.
					 
					When   Do  Teenagers  Die?
					Adults Eat Teenagers Alive,
					 No Record  Of  Their Death.
					  Father Son Image, Not Gods.
					 Every Man Born Of Woman.
					 
					 
					Belly-Button Is the Signature
					Of  Your Personal Creator -
					I Believe Her Name Mama.
					 
					Pastor Told His Flock That
					God Created All Of Them -
					   Truth Was That They All had
					Mama Made Belly Buttons,
					Church Was Full Of Liars.
 
       Earth Has 4 Days In Same 24      Hrs., 1 Day God Was Wrong. 
		</p>
		<p>
			When   Do  Teenagers  Die?
Adults Eat Teenagers Alive,
 No Record  Of  Their Death.
  Father Son Image, Not Gods.
 Every Man Born Of Woman.
		</p> <p>
			I Believe Her Name Mama.
 
Pastor Told His Flock That
God Created All Of Them -
   Truth Was That They All had
Mama Made Belly Buttons,
Church Was Full Of Liars.
 
       Earth Has 4 Days In Same 24      Hrs., 1 Day God Was Wrong. 
Einstein  Was  ONEist  Brain.

Try  My  Belly-Button  Logic.
		</p>

	<div class="page-header">
		<h2 class="lead">tl;dr</h2>
		<ul>
			<li>Jordan gained a fleet</li>
			<li>Caleb lost two fleets</li>
			<li>Adam and Ben conflict over Hungary</li>
		</ul>
	</div>

	</div>
	<br><br><br>
</body>
<footer>
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="http://media.alexrecker.com/scripts/intense.min.js"></script>
    <script>
	window.onload = function() {
	    // Intensify all images on the page.
	    var element = $('.map');
	    Intense( element );
	}
	</script>
</footer>
</html>